body {
    font-family: -apple-system, Helvetica-Neue, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 500ms;
    animation: fx 1000ms ease infinite 500ms;
}
@-webkit-keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/********* Mobile Screens *********/
@media only screen and (max-width: 480px) {
    body {margin: 0;padding: 0;}
    .ticket-indicator {width: 75%;}
/*    .answer {margin: 0 0 0 -4%;width: 200%;}*/
    .header-image {
        background: url(images/header@2x.png);
        background-size: 100em;
        background-repeat: no-repeat;
    }
}