.answer {
    height: 6.250em;
    border-bottom: 0.0315em solid #EBE9DF;
    padding: 0.625em 0 0 0.625em;
}
.photoanswer {
    float: left;
    padding: 2em 2em
}
.answer-learnmode{
    padding: 0.625em 0;
}
.active:hover{
    background-color: #FAFAF8;
    cursor: pointer;
}
.pressed {background-color: #FAFAF8}
.error {background-color: #FAE1E1; color: #cc0000}
.correct {background-color: #E5FAE1; color: #3AB000}