body {
    font-family: -apple-system, Helvetica-Neue, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 1em;
}

/********* Containers *********/
.rubber {
    position: relative;
    left:4%;
    width:92%;
    margin-top: 2.5em;
}
.container {
    max-width: 48em;
    left: 0;
    right: 0;
    margin: auto;
}
/********* Header *********/
.header {height: 4em}
.header-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6em;
    background: url(images/header.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100em;
}
