/********* Footer *********/
.footer {
  clear: both;
  font-size: 0.625em;
  color: #ddd;
  border-top: 0.0315em solid #EBE9DF;
  margin: 3em 0;
  padding-top: 1em;
}
.copyright {
  padding-bottom: 0.315em;
}
.agreement {
  color: #7FC4FF;
}
