.container {
  max-width: 48em;
  left: 0;
  right: 0;
  margin: auto;
}
/********* Header *********/
.header {height: 4em}

/********* Arrows *********/
.arrow {
    position: relative;
    height: 1.6em;
    width: 1.35em;
    padding: 0.4em 0 0 0.65em;
}
.arrow:hover {
    border-radius: 1em;
    box-shadow:0px 0px 0px 0.1em #333 inset;
    cursor: pointer;

}
.prev {float: left}
.next {float: right}
.on {
    border-radius: 1em;
    background-color: #333;
    fill: #fff;
}

.ticket-indicator {
    position: relative;
    float: left;
    width: calc(92% - 3em);
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 0.9em;
}

.ticket-number {font-size: 0.630em;}
.ticket-category {font-size: 0.750em; text-transform: uppercase; letter-spacing: 0.1em; }
