.container {
  max-width: 48em;
  left: 0;
  right: 0;
  margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/********* Ticket *********/
.question {
    font-size: 1.688em;
    border-bottom: 0.0315em solid #EBE9DF;
    padding: 0 0 0.625em 0;
}
.photoquestion {
    width: intrinsic;
    border: 0.0315em solid #EBE9DF;
    padding: 2em 2em;
    margin-bottom: 2em;
}
.hint {
    font-size: 0.3125em;
    background-color: #fff39a;
    padding: 0.3125em 1em;
    border-radius: 2em;

}
