<li *ngIf="!answer.image"
        class="answer"
        (click)="onSelect(answer)"
        [class.error]="state === 'incorrect'"
        [class.correct]="state === 'correct'"
        [class.pressed]="state !== 'unanswered'"
        [class.active]="state === 'unanswered'"
>{{answer.text}}</li>
<li *ngIf="answer.image"
    class="photoanswer"
    (click)="onSelect(answer)"
    [class.error]="state === 'incorrect'"
    [class.correct]="state === 'correct'"
    [class.pressed]="state !== 'unanswered'"
    [class.active]="state === 'unanswered'"
>
    <img
            draggable="false"
            src="images/content/{{answer.image}}"
            srcset="images/content/{{answer.image}} 1x, images/content/{{answer.image}} 2x"
    >
</li>