<div class="footer">
  <div class="copyright">Created from the original theory test question bank, available at <a href="http://www.transport.gov.mt"> Transport Malta</a>
  </div>
  <div class="agreement"><a href="https://docs.google.com/document/d/13Rsclm9fLOowgB_xFySKECk5VH1GYPAL3idK0NtJ3LA">User Agreement</a></div>
</div>
