<div *ngIf="header.currentNumber" class="container header">
    <div class="arrow prev" [routerLink]="[route, header.prev]">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10">
            <path d="M5.13 9.36l.92-.9-2.7-2.68h7.73v-1.3H3.35l2.7-2.66-.92-.9L.9 5.1z"/>
        </svg>
    </div>
    <div class="ticket-indicator">
        <span class="ticket-number">
            {{header.currentNumber}}/{{header.count}}
        </span><br><span class="ticket-category">{{header.topic}}</span>
    </div>
    <div class="arrow next" [routerLink]="[route, header.next]" [class.on]="allAnswered === true">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10">
            <path d="M6.85 9.36l4.23-4.23L6.85.9l-.9.92L8.62 4.5H.9v1.28h7.73l-2.7 2.67.15.13c.1.1.2.2.32.32.1.12.22.23.3.32l.15.14z"/>
        </svg>
    </div>
</div>
