<div class="text-loading question-loading">
  <span></span>
</div>
<ul>
  <li class="text-loading answer-loading rand-1"></li>
  <li class="text-loading answer-loading rand-2"></li>
  <li class="text-loading answer-loading rand-3"></li>
  <li class="text-loading answer-loading rand-4"></li>
</ul>
