<div *ngIf="question">
<div *ngIf="question.image" class="photoquestion">
    <img
            draggable="false"
            src="images/content/{{question.image}}"
            srcset="images/content/{{question.image}} 1x, images/content/{{question.image}} 2x">
</div>
<div class="question">
    <span class="question-text">{{question.text}}</span>
    <br />
    <span *ngIf="question.correctCount > 1" class="hint">Pick {{question.correctCount}} answers</span>
</div>
<ul>
    <md-answer *ngFor="let answer of question.answers" [answer]="answer" (onAnswered)="onAnswered($event)"></md-answer>
</ul>
</div>
