<li *ngIf="!answer.image"
        class="answer-learnmode"
        [class.correct]="answer.is_correct.data.value === true"
>{{answer.text}}</li>
<li *ngIf="answer.image"
    class="photoanswer"
    [class.correct]="answer.is_correct.data.value === true"
>
    <img
            draggable="false"
            src="images/content/{{answer.image}}"
            srcset="images/content/{{answer.image}} 1x, images/content/{{answer.image}} 2x"
    >
</li>