<div class="container">
  <md-question-loading *ngIf="!question"></md-question-loading>
  <div *ngIf="question">
    <div *ngIf="question.image" class="photoquestion">
        <img
                draggable="false"
                src="images/content/{{question.image}}"
                srcset="images/content/{{question.image}} 1x, images/content/{{question.image}} 2x">
    </div>
    <div class="question">
        <span class="question-text">{{question.text}}</span>
    </div>
    <ul>
        <md-training-answer *ngFor="let answer of question.answers" [answer]="answer"></md-training-answer>
    </ul>
  </div>
  <md-footer></md-footer>
</div>
